[Unit]
Description='Webapp used to store and retrieve assignments of students '
After=multi-user.target


[Service]
Type=simple
User=csye6225
Group=csye6225
EnvironmentFile=/home/csye6225/webapp/.env
WorkingDirectory=/home/csye6225/webapp
ExecStart=/usr/bin/npm run start
Restart=always
RestartSec=30


[Install]
WantedBy=cloud-init.target